.income-statement {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 1rem;
}
.rev-exp {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	width: 50%;
    color: white;
	margin: 0 auto;
	background: var(--dark-grayy);
	font-size: 25px;
	/* font-weight: 600; */
	font-family: "Times New Roman", Times, serif;
}
.net-inc {
	border: 1px solid black;
	width: 30%;
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	margin: 0 auto;
	font-size: 25px;
	background: linear-gradient(to bottom right, #6666ff 0%, #66ccff 100%);
	font-weight: 600;
	font-family: "Times New Roman", Times, serif;
}
.owner-equity-statement {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.OE-entries {
	display: flex;
	flex-direction: column;
	font-size: 25px;
	background: linear-gradient(to bottom right, #6666ff 0%, #66ccff 100%);

	font-family: "Times New Roman", Times, serif;
}
.OE-entries h4 {
	font-weight: 50px !important;
}
.OE-entries:last-child {
	border: 1px solid black;
}
.balance-sheet {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
}
.balance-sheet2 {
	display: grid;
	width: 100%;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
}
.balance-sheet div {
	border: 1px solid black;
	font-family: "Times New Roman", Times, serif;
}

.asset-col h2 {
	background: linear-gradient(to right, #6666ff 0%, #66ccff 100%);
	padding: 1rem;
}
.liab-oe-col h2 {
	background: linear-gradient(to left, #6666ff 0%, #66ccff 100%);
	padding: 1rem;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.asset-col h3,
.liab-oe-col h3 {
	border: 1px solid black;
}
.balance {
	font-family: "Times New Roman", Times, serif;
	color: black;

	background: linear-gradient(to left, #6666ff 0%, #66ccff 100%);
}
.balancediv {
	display: flex;
	align-items: center;
	justify-content: center;
}
.general-entry-container {
	margin-top: 10px;
	border: 1px solid black;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
}

#fixedheadings {
	font-weight: 100px;
	font-size: 40px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white !important;
}

.general-entry-container h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: 10px;
	font-size: 25px;
	color: black;
}

.entry {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 200px 200px 200px 200px 200px 200px;
	text-align: center;
	align-items: center;
	box-sizing: border-box;
	/* background: linear-gradient(to left, #6666ff 0%, #6699ff 100%); */
}
.div{
	display: grid;
	grid-template-columns: 10fr 80fr 10fr;
}

.balance-sheet-container{
	display: flex;
	column-gap: 1rem;
}

/* general class for all <Table Components */
/* box-shadow: 1px 1px 9px 1px #999999;
margin: 20px 0px;
border-radius: 10px; */

.financial-container{
	/* display: unset; */
	overflow-x: unset !important;
	box-shadow: none !important;
}
.financial-tables{
	box-shadow: 1px 1px 9px 1px #999999;
    margin: 20px 0px;
	border-radius: 10px;
}